{"openapi":"3.0.0","info":{"title":"ClickUp Public API v3","version":"version","description":"This API is exposed to the public internet and is meant to be accessed by third-party integrations."},"servers":[{"url":"https://api.clickup.com/","description":"ClickUp"}],"paths":{"/api/v3/workspaces/{workspace_id}/chat/channels":{"get":{"operationId":"getChatChannels","summary":"Retrieve Channels","description":"This endpoint retrieves the Channels in a Workspace.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsWorkspaceIdPath"}},{"name":"description_format","in":"query","description":"Format of the Channel description (Default: text/md).","required":false,"schema":{"$ref":"#/components/schemas/ChatTextFormat"}},{"name":"cursor","in":"query","description":"Used to request the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsLimitQuery"}},{"name":"is_follower","in":"query","description":"Only return Channels the user is following.","required":false,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsIsFollowerQuery"}},{"name":"include_closed","in":"query","description":"Include DMs/Group DMs that have been explicitly closed.","required":false,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsIncludeClosedQuery"}},{"name":"with_message_since","in":"query","description":"Only return Channels with at least one message since the given timestamp.","required":false,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsWithMessageSinceQuery"}},{"name":"channel_types","in":"query","description":"Specify the types of Channels to return from the request.","required":false,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsChannelTypesQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannels200Response"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true},"post":{"operationId":"createChatChannel","summary":"Create a Channel","description":"This endpoint creates a new Channel not tied to a Space, Folder, or List. If a Channel with the specified name already exists it returns it.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateChatChannelWorkspaceIdPath"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreateChatChannel"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateChatChannel200Response"}}}},"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateChatChannel201Response"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/channels/location":{"post":{"operationId":"createLocationChatChannel","summary":"Create a Channel on a Space, Folder, or List","description":"This endpoint creates a Channel on a Space, Folder, or List. When a Channel already exists on the requested location, it returns it.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateLocationChatChannelWorkspaceIdPath"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreateLocationChatChannel"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateLocationChatChannel200Response"}}}},"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateLocationChatChannel201Response"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/channels/direct_message":{"post":{"operationId":"createDirectMessageChatChannel","summary":"Create a Direct Message","description":"This endpoint creates a new Direct Message between up to 15 users. If a Direct Message between those users already exists it returns it.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannelWorkspaceIdPath"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreateDirectMessageChatChannel"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel200Response"}}}},"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel201Response"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}":{"get":{"operationId":"getChatChannel","summary":"Retrieve a Channel","description":"This endpoint retrieves a specific Channel given its ID.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelWorkspaceIdPath"}},{"name":"channel_id","in":"path","description":"The ID of the specified Channel.","required":true,"schema":{"type":"string"}},{"name":"description_format","in":"query","description":"Format of the Channel description (Default: text/md).","required":false,"schema":{"$ref":"#/components/schemas/ChatTextFormat"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannel200Response"}}}},"404":{"description":"Returns when the requested {channelId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true},"patch":{"operationId":"updateChatChannel","summary":"Update a Channel","description":"This endpoint updates a single Channel.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerUpdateChatChannelWorkspaceIdPath"}},{"name":"channel_id","in":"path","description":"The ID of the specified Channel.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatUpdateChatChannel"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerUpdateChatChannel200Response"}}}},"400":{"description":"Invalid update request for {channelId}.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}},"404":{"description":"Returns when the requested {channelId} was not found when updating a Channel.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true},"delete":{"operationId":"deleteChatChannel","summary":"Delete a Channel","description":"This endpoint deletes a Channel. Applies to Channels tied to a Space, Folder, or List or not tied to locations.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerDeleteChatChannelWorkspaceIdPath"}},{"name":"channel_id","in":"path","description":"The ID of the specified Channel.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The Channel was deleted.","content":{"application/json":{}}},"404":{"description":"Returns when the requested {channelId} was not found when deleting a Channel.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}/followers":{"get":{"operationId":"getChatChannelFollowers","summary":"Retrieve Channel followers","description":"This endpoint retrieves followers of a specific Channel given its ID.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelFollowersWorkspaceIdPath"}},{"name":"channel_id","in":"path","description":"The ID of the specified Channel.","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelFollowersLimitQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelFollowers200Response"}}}},"404":{"description":"Returns when the specified {channelId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}/members":{"get":{"operationId":"getChatChannelMembers","summary":"Retrieve Channel members","description":"This endpoint retrieves members of a specific Channel given its ID.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelMembersWorkspaceIdPath"}},{"name":"channel_id","in":"path","description":"The ID of the specified Channel.","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelMembersLimitQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelMembers200Response"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}/messages":{"get":{"operationId":"getChatMessages","summary":"Retrieve Channel messages","description":"This endpoint retrieves messages for a specified Channel.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessagesWorkspaceIdPath"}},{"name":"channel_id","in":"path","description":"The ID of the Channel where the messages live.","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessagesLimitQuery"}},{"name":"content_format","in":"query","description":"Format of the message content (Default: text/md).","required":false,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessagesContentFormatQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessages200Response"}}}},"404":{"description":"Returns when the specified {channelId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true},"post":{"operationId":"createChatMessage","summary":"Send a message","description":"This endpoint creates a top level message.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerCreateChatMessageWorkspaceIdPath"}},{"name":"channel_id","in":"path","description":"The ID of the Channel where the messages live.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateChatMessage"}}}},"responses":{"201":{"description":"The message is created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateChatMessageResponse"}}}},"404":{"description":"Returns when {channelId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/messages/{message_id}":{"patch":{"operationId":"patchChatMessage","summary":"Update a message","description":"This endpoint updates a message.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerPatchChatMessageWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPatchChatMessage"}}}},"responses":{"200":{"description":"The message that was updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPatchChatMessageResponse"}}}},"400":{"description":"Returns when the request is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"404":{"description":"Returns when {messageId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true},"delete":{"operationId":"deleteChatMessage","summary":"Delete a message","description":"This endpoint deletes a message.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerDeleteChatMessageWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The message was deleted.","content":{"application/json":{}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/reactions":{"get":{"operationId":"getChatMessageReactions","summary":"Retrieve message reactions","description":"This endpoint retrieves the reactions to a message.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReactionsWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReactionsLimitQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReactions200Response"}}}},"404":{"description":"Returns when the specified {messageId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true},"post":{"operationId":"createChatReaction","summary":"Create a message reaction","description":"This endpoint creates a message reaction using lower case emoji names.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerCreateChatReactionWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateChatReaction"}}}},"responses":{"201":{"description":"The message reaction is created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatReaction"}}}},"400":{"description":"Returns when the reaction {reaction} is not supported or already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"404":{"description":"Returns when the message {messageId} is not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/reactions/{reaction}":{"delete":{"operationId":"deleteChatReaction","summary":"Delete a message reaction","description":"This endpoint deletes a message reaction.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerDeleteChatReactionWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}},{"name":"reaction","in":"path","description":"The name of the reaction to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The message reaction was deleted.","content":{"application/json":{}}},"400":{"description":"Returns when the reaction {reaction} is not supported.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"404":{"description":"Returns when the message {messageId} or the reaction {reaction} is not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/replies":{"get":{"operationId":"getChatMessageReplies","summary":"Retrieve message replies","description":"This endpoint retrieves the replies to a message.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageRepliesWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageRepliesLimitQuery"}},{"name":"content_format","in":"query","description":"Format of the message content (Default: text/md).","required":false,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageRepliesContentFormatQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReplies200Response"}}}},"404":{"description":"Returns when the specified {messageId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true},"post":{"operationId":"createReplyMessage","summary":"Create a reply message","description":"This endpoint creates a reply message.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerCreateReplyMessageWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateChatMessage"}}}},"responses":{"201":{"description":"The reply message is created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateReplyMessageResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/tagged_users":{"get":{"operationId":"getChatMessageTaggedUsers","summary":"Retrieve message tagged users","description":"This endpoint retrieves tagged users for a message.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersWorkspaceIdPath"}},{"name":"message_id","in":"path","description":"The ID of the specified message.","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersLimitQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsers200Response"}}}},"404":{"description":"Returns when the specified {messageId} was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicApiErrorResponse"}}}}},"tags":["Chat"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/{entity_type}/{entity_id}/attachments":{"get":{"operationId":"getParentEntityAttachments","summary":"Get Attachments","description":"Return a list of attachments for the specified entity, including a task or File type Custom Field.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachmentsWorkspaceIdPath"}},{"name":"entity_type","in":"path","description":"The entity type. Options include `attachments` for tasks and `custom_fields` for a File type Custom Field.","required":true,"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachmentsEntityTypePath"}},{"name":"entity_id","in":"path","description":"The ID of the task or Custom Field.","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachmentsLimitQuery"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachments200Response"}}}},"400":{"description":"Returns when request was invalid when fetching attachments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiErrorResponse"}}}},"404":{"description":"Returns when {entityId} not found when fetching attachments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiErrorResponse"}}}}},"tags":["Attachments"],"x-is-workspace-endpoint":true},"post":{"operationId":"postEntityAttachment","summary":"Create an Attachment","description":"Upload an attachment to a task or to a file type Custom Field. \\\n \\\nOnce a file has been uploaded to a `custom_fields` entity, use [Set Custom Field Value](ref:SetCustomFieldValue) to associate the uploaded file with a task. \\\n \\\nTo retrieve the ID of a Custom Field, you can use [Get List Custom Fields](red:GetAccessibleCustomFields) or [Get task](ref:GetTask).","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiAttachmentsControllerPostEntityAttachmentWorkspaceIdPath"}},{"name":"entity_type","in":"path","description":"The entity type. Options include `attachments` for tasks or `custom_fields` for a Files Custom Field.","required":true,"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiAttachmentsControllerPostEntityAttachmentEntityTypePath"}},{"name":"entity_id","in":"path","description":"The ID of the task or Custom Field.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicPostAttachmentBodyParamsDto"}}}},"responses":{"200":{"description":"The created attachment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsAttachment"}}}},"400":{"description":"Returns when {entityType} is not 'custom_fields'","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiErrorResponse"}}}},"404":{"description":"Returns when {entityId} not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentsPublicApiErrorResponse"}}}}},"tags":["Attachments"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/{object_type}/{object_id}/acls":{"patch":{"operationId":"publicPatchAcl","summary":"Update privacy and access of an object or location","description":"Update the privacy and access settings of an object or location in the Workspace. Note that sharing an item may incur charges.","parameters":[{"name":"workspace_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/UserAclPublicControllerPublicPatchAclWorkspaceIdPath"}},{"name":"object_type","in":"path","description":"ObjectType","required":true,"schema":{"$ref":"#/components/schemas/ObjectType"}},{"name":"object_id","in":"path","description":"The ID of the object to share.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPatchAclApiRequest"}}}},"responses":{"200":{"description":"","content":{"application/json":{}}}},"tags":["Acls","Privacy and access"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/auditlogs":{"post":{"operationId":"queryAuditLog","summary":"Create Workspace-level audit logs","description":"Create Workspace-level audit logs. Only the Workspace owner can create audit logs. \\\n \\\n***Note:** This endpoint is only available to Workspaces on our [Enterprise Plan](https://clickup.com/pricing).*","parameters":[{"name":"workspace_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/AutoAuditlogWorkspaceAuditLogPublicControllerQueryAuditLogWorkspaceIdPath"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoAuditlogAuditLogQueryRequest"},"examples":{"Required":{"value":{"applicability":"auth-and-security"}},"All":{"value":{"applicability":"auth-and-security","filter":{"workspaceId":"123456","userId":["182"],"userEmail":["user@company.com"],"eventType":["CHANGE_PASSWORD"],"eventStatus":"failed","startTime":1718754539000,"endTime":1727221739000},"pagination":{"pageRows":10,"pageTimestamp":1727221739000,"pageDirection":"before"}}}}}}},"responses":{"200":{"description":"","content":{"application/json":{}}}},"tags":["Auditlogs","Audit Logs"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/comments/types/{comment_type}/subtypes":{"get":{"operationId":"getSubtypes","summary":"Get Post Subtype IDs","description":"Get the ID of each post subtype (Announcement, Discussion, Idea, and Update) for your Workspace, to use when [sending a message](https://developer.clickup.com/reference/createchatmessage) with `type: post`. \\\n \\\nSubtype IDs are unique to each Workspace.","parameters":[{"name":"workspace_id","in":"path","description":"ID of the logged-in user's Workspace.","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiCommentsControllerGetSubtypesWorkspaceIdPath"}},{"name":"comment_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/CommentPublicApiCommentsControllerGetSubtypesCommentTypePath"}}],"responses":{"200":{"description":"","content":{"application/json":{}}}},"tags":["Comments","Chat (Experimental)"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/docs":{"get":{"operationId":"searchDocsPublic","summary":"Search for Docs","description":"View the Docs in your Workspace. You can only view information of Docs you can access.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsSearchDocsPublicWorkspaceIdPath"}},{"name":"id","in":"query","description":"Filter results to Docs created by the user with the given Doc ID.","required":false,"schema":{"type":"string"}},{"name":"creator","in":"query","description":"Filter results to Docs created by the user with the given user ID.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsSearchDocsPublicCreatorQuery"}},{"name":"deleted","in":"query","description":"Filter results to return deleted Docs.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsSearchDocsPublicDeletedQuery"}},{"name":"archived","in":"query","description":"Filter results to return archived Docs.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsSearchDocsPublicArchivedQuery"}},{"name":"parent_id","in":"query","description":"Filter results to children of a parent Doc with the given parent Doc ID.","required":false,"schema":{"type":"string"}},{"name":"parent_type","in":"query","description":"Filter results to children of the given parent Doc type. For example, `SPACE`, `FOLDER`, `LIST`, `EVERYTHING`, `WORKSPACE`.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsSearchDocsPublicParentTypeQuery"}},{"name":"limit","in":"query","description":"The maximum number of results to fetch for this page.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsSearchDocsPublicLimitQuery"}},{"name":"cursor","in":"query","description":"The cursor to use to fetch the next page of results.","required":false,"schema":{"type":"string"}},{"name":"next_cursor","in":"query","description":"The cursor to use to fetch the next page of results. [deprecated]","required":false,"schema":{"type":"string"},"deprecated":true}],"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsDocsSearchResultDto"}}}}},"tags":["Docs"],"x-is-workspace-endpoint":true},"post":{"operationId":"createDocPublic","summary":"Create a Doc","description":"Create a new Doc.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsCreateDocPublicWorkspaceIdPath"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsCreateDocOptionsDto"}}}},"responses":{"201":{"description":"Doc created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsDocDto"}}}}},"tags":["Docs"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/docs/{doc_id}":{"get":{"operationId":"getDocPublic","summary":"Fetch a Doc","description":"View information about a Doc.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPublicWorkspaceIdPath"}},{"name":"doc_id","in":"path","description":"The ID of the doc.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Doc found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsDocDto"}}}},"404":{"description":"Doc not found","content":{"application/json":{}}}},"tags":["Docs"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/docs/{doc_id}/page_listing":{"get":{"operationId":"getDocPageListingPublic","summary":"Fetch PageListing for a Doc","description":"View the PageListing for a Doc.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPageListingPublicWorkspaceIdPath"}},{"name":"doc_id","in":"path","description":"The ID of the doc.","required":true,"schema":{"type":"string"}},{"name":"max_page_depth","in":"query","description":"The maximum depth to retrieve pages and subpages. Use `-1` to return pages and subpages with no depth limit.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPageListingPublicMaxPageDepthQuery"}}],"responses":{"200":{"description":"PageListing found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPageListingPublic200Response"}}}},"404":{"description":"PageListing not found","content":{"application/json":{}}}},"tags":["Docs"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/docs/{doc_id}/pages":{"get":{"operationId":"getDocPagesPublic","summary":"Fetch Pages belonging to a Doc","description":"View the pages belonging to a Doc.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPagesPublicWorkspaceIdPath"}},{"name":"doc_id","in":"path","description":"The ID of the doc.","required":true,"schema":{"type":"string"}},{"name":"max_page_depth","in":"query","description":"The maximum depth to retrieve pages and subpages. Use `-1` to return pages and subpages with no depth limit.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPagesPublicMaxPageDepthQuery"}},{"name":"content_format","in":"query","description":"The format to return the page content in. For example, `text/md` for markdown or `text/plain` for plain text.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPagesPublicContentFormatQuery"}}],"responses":{"200":{"description":"Pages found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsGetDocPagesPublic200Response"}}}}},"tags":["Docs"],"x-is-workspace-endpoint":true},"post":{"operationId":"createPagePublic","summary":"Create a Page","description":"Create a page in a Doc.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsCreatePagePublicWorkspaceIdPath"}},{"name":"doc_id","in":"path","description":"The ID of the doc.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsPublicCreatePageOptionsDto"}}}},"responses":{"201":{"description":"Page created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsPageV3Dto"}}}}},"tags":["Docs"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/docs/{doc_id}/pages/{page_id}":{"get":{"operationId":"getPagePublic","summary":"Get page","description":"View the information about a page in a Doc. Due to markdown format limitations, some content elements [will not be displayed exactly as they appear in ClickUp](doc:docsimportexportlimitations/).","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsGetPagePublicWorkspaceIdPath"}},{"name":"doc_id","in":"path","description":"The ID of the doc.","required":true,"schema":{"type":"string"}},{"name":"page_id","in":"path","description":"The ID of the page","required":true,"schema":{"type":"string"}},{"name":"content_format","in":"query","description":"The format to return the page content in. For example, `text/md` for markdown or `text/plain` for plain text.","required":false,"schema":{"$ref":"#/components/schemas/PublicDocsGetPagePublicContentFormatQuery"}}],"responses":{"200":{"description":"Page found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsPageV3Dto"}}}},"404":{"description":"Page not found","content":{"application/json":{}}}},"tags":["Docs"],"x-is-workspace-endpoint":true},"put":{"operationId":"editPagePublic","summary":"Edit a Page","description":"Edit a page in a Doc.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/PublicDocsEditPagePublicWorkspaceIdPath"}},{"name":"doc_id","in":"path","description":"The ID of the doc.","required":true,"schema":{"type":"string"}},{"name":"page_id","in":"path","description":"The ID of the page","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicDocsPublicEditPageOptionsDto"}}}},"responses":{"200":{"description":"Page updated","content":{"application/json":{}}}},"tags":["Docs"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/tasks/{task_id}/home_list/{list_id}":{"put":{"operationId":"moveTask","summary":"Move a task to a new List","description":"Move a task to a new List. For Tasks in Multiple Lists, this endpoint only moves the task to a new home List.\n \n[Learn more](doc:move-a-task-to-a-new-list) about the options available when moving a task to a new List.","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"$ref":"#/components/schemas/TaskPublicApiTaskControllerMoveTaskWorkspaceIdPath"}},{"name":"task_id","in":"path","description":"The ID of the requested Task.","required":true,"schema":{"type":"string"}},{"name":"list_id","in":"path","description":"The ID of the List to move the task to.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskMoveTaskBodyParamsDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiTaskControllerMoveTask200Response"}}}},"400":{"description":"Returns when the request is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}},"404":{"description":"Returns when the task or list is not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}}},"tags":["Tasks"],"x-is-workspace-endpoint":true}},"/api/v3/workspaces/{workspace_id}/tasks/{task_id}/time_estimates_by_user":{"patch":{"operationId":"updateTimeEstimatesByUser","summary":"Update task time estimates by user","description":"Replace the time estimates on a task for specified assignees.\n \nAssignees must be currently assigned to the task, or use `assignee: unassigned` to set a time estimates for unassigned work.\n \nYou can set up to 10 estimates per request.\n \n***Note:** This endpoint is only available on our Business Plan or above.*","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"type":"string"}},{"name":"task_id","in":"path","description":"The ID of the task. This parameter supports task IDs and Custom task IDs.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Array of time estimates per assignee to update (replaces existing, leaves others unchanged)","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiTaskControllerUpdateTimeEstimatesByUserRequest"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiTaskControllerUpdateTimeEstimatesByUser200Response"}}}},"400":{"description":"Invalid request parameters, validation error, or not entitled to use time estimates per assignee feature","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}},"404":{"description":"Task not found or not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}}},"tags":["Tasks"],"x-is-workspace-endpoint":true},"put":{"operationId":"replaceTimeEstimatesByUser","summary":"Replace task time estimates","description":"Replaces all time estimates for a task with the provided time estimates. Any existing time estimates not included in the request will be removed. \n \nAssignees must be currently assigned to the task, or use `assignee: unassigned` to set a time estimates for unassigned work.\n \nYou can set up to 10 estimates per request.\n \n***Note:** This endpoint is only available on our Business Plan or above.*","parameters":[{"name":"workspace_id","in":"path","description":"The ID of the Workspace.","required":true,"schema":{"type":"string"}},{"name":"task_id","in":"path","description":"The ID of the task. This parameter supports task IDs and Custom task IDs.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Array of time estimates per assignee","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiTaskControllerReplaceTimeEstimatesByUserRequest"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiTaskControllerReplaceTimeEstimatesByUser200Response"}}}},"400":{"description":"Invalid request parameters, validation error, or not entitled to use time estimates per assignee feature","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}},"404":{"description":"Task not found or not authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}},"default":{"description":"Generic Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicApiErrorResponse"}}}}},"tags":["Tasks"],"x-is-workspace-endpoint":true}}},"components":{"parameters":{},"schemas":{"AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachmentsWorkspaceIdPath":{"type":"integer"},"AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachmentsEntityTypePath":{"type":"string","enum":["attachments","custom_fields"]},"AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachmentsLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"AttachmentsPublicApiAttachmentsControllerGetParentEntityAttachments200Response":{"allOf":[{"$ref":"#/components/schemas/AttachmentsPaginatedResponse"},{"type":"object","description":"The list of attachments for {entityId}.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentsAttachment"}}}}]},"AttachmentsPaginatedResponse":{"type":"object","properties":{"next_cursor":{"description":"The next cursor to use for pagination.","type":"string"}},"required":["next_cursor"]},"AttachmentsAttachment":{"type":"object","properties":{"date_updated":{"description":"The date & time the attachment was updated (Unix epoch milliseconds timestamp).","type":"integer","example":1737065673712},"date_created":{"description":"The date & time the attachment was created (Unix epoch milliseconds timestamp).","type":"integer","example":1737065673712},"extension":{"description":"The extension of the attachment.","type":"string","example":"png"},"id":{"description":"The ID of the attachment.","type":"string","example":"51971815-ae25-49d5-b90c-4988f400a307.png"},"mime_type":{"description":"The MIME type of the attachment.","type":"string","example":"image/png"},"parent_entity_type":{"description":"The type of entity the attachment belongs to.","type":"string","example":"tasks","enum":["attachments","comments","custom_fields","docs","posts","reminders","tasks","widgets","views"]},"parent_id":{"description":"The ID of the entity the attachment belongs to.","type":"string"},"size":{"description":"The size in bytes of the attachment.","type":"integer","example":14697},"signed":{"description":"The signed status of the attachment.","type":"boolean","example":true},"thumbnail_small":{"description":"The small size thumbnail url of the attachment.","type":"string","format":"uri"},"thumbnail_medium":{"description":"The medium size thumbnail url of the attachment.","type":"string","format":"uri"},"thumbnail_large":{"description":"The large size thumbnail url of the attachment.","type":"string","format":"uri"},"title":{"description":"The attachment title.","type":"string","example":"An example image"},"url":{"description":"The url of the attachment.","type":"string","format":"uri"},"user_id":{"description":"The ID of the user who created the attachment.","type":"integer"}},"required":["date_updated","date_created","extension","id","mime_type","parent_entity_type","parent_id","size","signed","thumbnail_small","thumbnail_medium","thumbnail_large","title","url","user_id"]},"AttachmentsPublicApiErrorResponse":{"type":"object","properties":{"status":{"description":"The HTTP Status code for the error","type":"integer"},"message":{"description":"The message describing the error","type":"string","example":"Generic error message"},"trace_id":{"description":"Unique trace ID for tracking the request. Used for troubleshooting errors","type":"integer","example":123456789,"nullable":true},"timestamp":{"description":"The time of the error (Unix epoch milliseconds timestamp).","type":"integer","example":1671534256138}},"required":["status","message","trace_id","timestamp"]},"AttachmentsPublicApiAttachmentsControllerPostEntityAttachmentWorkspaceIdPath":{"type":"integer"},"AttachmentsPublicApiAttachmentsControllerPostEntityAttachmentEntityTypePath":{"type":"string","enum":["attachments","custom_fields"]},"AttachmentsPublicPostAttachmentBodyParamsDto":{"type":"object","properties":{"filename":{"description":"Override the filename of the attachment","type":"string"}}},"AutoAuditlogWorkspaceAuditLogPublicControllerQueryAuditLogWorkspaceIdPath":{"description":"The ID of the Workspace.","type":"number"},"AutoAuditlogAuditLogQueryRequest":{"type":"object","properties":{"filter":{"description":"A filter containing the criteria to filter logs by.","allOf":[{"$ref":"#/components/schemas/AutoAuditlogAuditEventFilterRequest"}]},"applicability":{"description":"Type of logs to filter by. Options include `auth-and-security`, `custom-fields`, `hierarchy-activity` and `user-activity`. Most use cases will use `auth-and-security`.","type":"string","enum":["agent-settings-activity","auth-and-security","custom-fields","hierarchy-activity","user-activity","other-activity"]},"pagination":{"description":"The pagination request determines where logs should start and how many to return.","allOf":[{"$ref":"#/components/schemas/AutoAuditlogAuditLogPaginationRequest"}]}}},"AutoAuditlogAuditEventFilterRequest":{"type":"object","properties":{"workspaceId":{"description":"The ID of the Workspace.","type":"object"},"userId":{"description":"The user ID. This can be a single user or multiple.","type":"array","items":{"type":"string"}},"userEmail":{"description":"User emails. This can be a single email or multiple.","type":"array","items":{"type":"string"}},"eventType":{"description":"Types of events to filter by. Options include `USER_LOGIN`, `USER_LOGOUT`, `CHANGE_2FA`, `CHANGE_PASSWORD`, `CHANGE_EMAIL`, `JOIN_WORKSPACE`, `LEAVE_WORKSPACE`, `REMOVE_FROM_WORKSPACE`, `RESET_PASSWORD`, `ROLE_CHANGE`, `SCIM_PROVISION`, `SCIM_DEPROVISION`, `SCIM_UPDATE`, `ADVANCED_SETTINGS_UPDATED`, `CHANGE_ROLE_PERMISSIONS`, `INVITE_TO_WORKSPACE`, `CHANGE_USER_ROLE`, `CHANGE_SSO_POLICY`, `CHANGE_2FA_POLICY`, `CUSTOM_ROLE_CREATED`, `CUSTOM_ROLE_UPDATED`, `CUSTOM_ROLE_DELETED`, `SCIM_GROUP_CREATED`, `SCIM_GROUP_UPDATED`, `SCIM_GROUP_DELETED`, `TEAM_CREATED`, `TEAM_DELETED`, `TEAM_EDITED`, `TEAM_MEMBER_ADDED`, `TEAM_MEMBER_REMOVED`, `SSO_CONFIG_UPDATED`, `TASK_CREATED`, `TASK_ARCHIVED`, `TASK_DELETED`, `TASK_RESTORED`, `TASK_UNARCHIVED`, `TASK_STATUS_CHANGED`, `TASK_PRIORITY_CHANGED`, `TASK_ASSIGNEES_CHANGED`, and `TASK_CUSTOM_FIELD_VALUES_CHANGED`.","type":"string","enum":["USER_LOGIN","USER_LOGOUT","CHANGE_2FA","CHANGE_EMAIL","CHANGE_PASSWORD","JOIN_WORKSPACE","LEAVE_WORKSPACE","RESET_PASSWORD","ROLE_CHANGE","SCIM_DEPROVISION","SCIM_PROVISION","SCIM_UPDATE","SECURE_LOGIN_EMAIL_SENT","ADVANCED_SETTINGS_UPDATED","CHANGE_2FA_POLICY","CHANGE_ROLE_PERMISSIONS","CHANGE_SSO_POLICY","CHANGE_USER_ROLE","CUSTOM_ROLE_CREATED","CUSTOM_ROLE_DELETED","CUSTOM_ROLE_UPDATED","TEAM_CREATED","TEAM_DELETED","TEAM_EDITED","TEAM_MEMBER_ADDED","TEAM_MEMBER_REMOVED","INVITE_TO_WORKSPACE","REMOVE_FROM_WORKSPACE","SCIM_GROUP_CREATED","SCIM_GROUP_DELETED","SCIM_GROUP_UPDATED","SSO_CONFIG_UPDATED","TASK_ARCHIVED","TASK_ASSIGNEES_CHANGED","TASK_CREATED","TASK_CUSTOM_FIELD_VALUES_CHANGED","TASK_DELETED","TASK_PRIORITY_CHANGED","TASK_RESTORED","TASK_STATUS_CHANGED","TASK_UNARCHIVED","FIELD_CONVERTED","FIELD_CREATED","FIELD_DROPDOWN_OPTIONS_CREATED","FIELD_DROPDOWN_OPTIONS_REMOVED","FIELD_DROPDOWN_OPTIONS_UPDATED","FIELD_DUPLICATED","FIELD_GROUP_MEMBER_PERMISSION_REMOVED","FIELD_GROUP_MEMBER_PERMISSION_SET","FIELD_LABEL_OPTIONS_CREATED","FIELD_LABEL_OPTIONS_REMOVED","FIELD_LABEL_OPTIONS_UPDATED","FIELD_LOCATION_ADDED","FIELD_LOCATION_REMOVED","FIELD_LOCATION_UPDATED","FIELD_MEMBER_PERMISSION_REMOVED","FIELD_MEMBER_PERMISSION_SET","FIELD_MERGED","FIELD_PERMANENTLY_REMOVED","FIELD_REMOVED","FIELD_RESTORED","FIELD_UPDATED"]},"eventStatus":{"description":"Status of events you're filtering by. Options include `success`, `failed`, `started`, `completed`, `error`, `system_error`.","type":"string","enum":["success","failed","warn","skipped","started","completed","error","system_error"]},"startTime":{"description":"The start time to begin paginating your logs.","type":"number"},"endTime":{"description":"The end time to begin paginating your logs.","type":"number"}}},"AutoAuditlogAuditLogPaginationRequest":{"type":"object","properties":{"pageRows":{"description":"The number of rows to return.","type":"number"},"pageTimestamp":{"description":"The timestamp to index on. This should be the timestamp of the last row on the previous page. If you are requesting the first page, this should be the current timestamp.","type":"number"},"pageDirection":{"description":"Pagination direction. This should be set to `before` for most use cases. Options include `before` and `after`."}}},"ChatPublicApiChatChannelsControllerGetChatChannelsWorkspaceIdPath":{"type":"integer"},"ChatTextFormat":{"type":"string","enum":["text/md","text/plain"]},"ChatPublicApiChatChannelsControllerGetChatChannelsLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"ChatPublicApiChatChannelsControllerGetChatChannelsIsFollowerQuery":{"type":"boolean","default":false},"ChatPublicApiChatChannelsControllerGetChatChannelsIncludeClosedQuery":{"type":"boolean","default":false},"ChatPublicApiChatChannelsControllerGetChatChannelsWithMessageSinceQuery":{"type":"number"},"ChatPublicApiChatChannelsControllerGetChatChannelsChannelTypesQuery":{},"ChatPublicApiChatChannelsControllerGetChatChannels200Response":{"allOf":[{"$ref":"#/components/schemas/ChatPaginatedResponse"},{"type":"object","description":"The list of Channels.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChatChannel"}}}}]},"ChatPaginatedResponse":{"type":"object","properties":{"next_cursor":{"description":"The next cursor to use for pagination.","type":"string"}},"required":["next_cursor"]},"ChatChannel":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"description":"The full Description of the Channel.","type":"string","format":"RichText"},"topic":{"type":"string"},"type":{"$ref":"#/components/schemas/ChatRoomType"},"visibility":{"$ref":"#/components/schemas/ChatRoomVisibility"},"parent":{"description":"Parent information","allOf":[{"$ref":"#/components/schemas/ChatRoomParentDTO"}]},"creator":{"description":"ID of the user who created this room","type":"string"},"created_at":{"description":"Timestamp of when this room was created","type":"string"},"updated_at":{"description":"Timestamp of the last update in this room - Deprecated in favor of latest_comment_at","type":"string","deprecated":true},"workspace_id":{"description":"Workspace ID of the chat room","type":"string"},"archived":{"type":"boolean"},"latest_comment_at":{"description":"Timestamp of the last comment in this room. Optional in the case of a new room with no comments yet","type":"string"},"is_canonical_channel":{"description":"Is this the canonical channel for the parent location?","type":"boolean"},"is_hidden":{"description":"Has the user hidden this room from their sidebar? Currently only an option for DM/Group DM.","type":"boolean"},"default_view":{"description":"Data about the default view that the room should open in","allOf":[{"$ref":"#/components/schemas/ChatDefaultViewDTO"}]},"channel_type":{"$ref":"#/components/schemas/ChatSubcategoryType"},"counts":{"description":"Counts relevant to the user requesting the chat room","allOf":[{"$ref":"#/components/schemas/ChatLastReadAtData"}]},"chat_room_category":{"description":"The category of the chat room, e.g. a welcome channel, (in the future, maybe) a ClickBot channel, etc.","type":"string","enum":["WELCOME_CHANNEL"]},"canvas_id":{"description":"The id of the canvas owned by the chat room, if any","type":"string"},"links":{"description":"The links to elements of the Channel.","allOf":[{"$ref":"#/components/schemas/ChatChannelLinks"}]}},"required":["id","name","type","visibility","parent","creator","created_at","updated_at","workspace_id","archived","links"]},"ChatRoomType":{"description":"The type of the room","type":"string","enum":["CHANNEL","DM","GROUP_DM"]},"ChatRoomVisibility":{"description":"The visibility of the room","type":"string","enum":["PUBLIC","PRIVATE"]},"ChatRoomParentDTO":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"number"}},"required":["id","type"]},"ChatDefaultViewDTO":{"type":"object","properties":{"type":{"type":"number"},"view_id":{"type":"string"},"standard":{"type":"boolean"}},"required":["type","view_id","standard"]},"ChatSubcategoryType":{"description":"Type of channel (chat, project, etc.) aka subcategory_type","type":"number","enum":[1,2,3,4]},"ChatLastReadAtData":{"type":"object","properties":{"parent_id":{"type":"string"},"parent_type":{"$ref":"#/components/schemas/ObjectType"},"root_parent_id":{"type":"string"},"root_parent_type":{"$ref":"#/components/schemas/ObjectType"},"date":{"description":"When the user last read comments to this object, set in the past to mark comments as unread. Should be a timestamp in milliseconds.","type":"number"},"_version_vector":{"allOf":[{"$ref":"#/components/schemas/ChatCommentVersionVector"}],"deprecated":true},"version":{"description":"The version of the object when the last read at object was last updated.","type":"number"},"has_unread":{"description":"Whether the user has unread comments on this object. (Optional)","type":"boolean"},"num_unread":{"description":"How many unread comments there are on this object. (Optional)","type":"number"},"latest_comment_at":{"description":"The date of the latest comment on this object. (Optional)","type":"number"},"badge_count":{"description":"The badge count for this object. (Optional)","type":"number"},"thread_count":{"description":"The number of unread threads on this object. (Optional)","type":"number"},"mention_count":{"description":"The number of mentions on this object. (Optional)","type":"number"},"last_updated_at":{"description":"The date of the last update to this object. (Optional)","type":"number"}},"required":["parent_id","parent_type","root_parent_id","root_parent_type","date","_version_vector"]},"ObjectType":{"description":"Any object that can be shared in a Workspace. For example, `customField`, `dashboard`, `folder`, `goal`, `goalFolder`, `list`, `space`, `task`, and `view`.","type":"string","enum":["approval","attachment","attachmentAccess","banWorkspace","checklist","checklistItem","checklistTemplateAccess","comment","commentThread","commentsLastReadAt","customField","customFieldAccess","customItem","customPermissionLevel","dashboard","dashboardAccess","doc","docAccess","folder","folderDescendantsSet","folderTemplateAccess","form","formulaValue","foundationalJob","goal","goalAccess","goalFolder","goalFolderAccess","hierarchy","list","listDescendantsPoints","listDescendantsSet","listDescendantsTimeEstimates","listTemplateAccess","notepad","page","pageAccess","post","reminder","reminderAccess","rolledUpFieldValue","scheduledComment","space","spaceDescendantsSet","spaceTemplateAccess","task","taskAccess","taskHistory","taskProperty","taskTemplateAccess","template","user","userAccess","userGroup","userHierarchy","userPresence","view","viewAccess","viewTemplateAccess","whiteboard","whiteboardAccess","widget","workscheduleScheduleExceptions","workscheduleWorkweekSchedule","workspace","workspaceDescendantsSet"]},"ChatCommentVersionVector":{"type":"object","properties":{"object_id":{"type":"string"},"object_type":{"type":"string"},"vector":{"type":"array","items":{"$ref":"#/components/schemas/ChatCommentVector"}},"workspace_id":{"type":"number"}},"required":["object_id","object_type","vector","workspace_id"]},"ChatCommentVector":{"type":"object","properties":{"master_id":{"type":"number"},"version":{"type":"number"},"deleted":{"type":"boolean"}},"required":["master_id","version","deleted"]},"ChatChannelLinks":{"type":"object","properties":{"members":{"description":"The link to the members of the Channel.","type":"string"},"followers":{"description":"The link to the followers of the Channel.","type":"string"}},"required":["members","followers"]},"ChatPublicApiErrorResponse":{"type":"object","properties":{"status":{"description":"The HTTP Status code for the error","type":"integer"},"message":{"description":"The message describing the error","type":"string","example":"Generic error message"},"trace_id":{"description":"Unique trace ID for tracking the request. Used for troubleshooting errors","type":"integer","example":123456789,"nullable":true},"timestamp":{"description":"The time of the error (Unix epoch milliseconds timestamp).","type":"integer","example":1671534256138}},"required":["status","message","trace_id","timestamp"]},"ChatPublicApiChatChannelsControllerCreateChatChannelWorkspaceIdPath":{"type":"integer"},"ChatCreateChatChannel":{"type":"object","properties":{"description":{"description":"The description for the Chat being created.","type":"string"},"name":{"description":"The name for the Chat being created.","type":"string"},"topic":{"description":"The topic of the Chat being created.","type":"string"},"user_ids":{"description":"Optionally specify unique user IDs, up to 100.","type":"array","items":{"type":"string"},"maxItems":100,"uniqueItems":true},"visibility":{"description":"The visibility of the Chat being created. If not specified, the Chat is PUBLIC.","type":"string","enum":["PUBLIC","PRIVATE"]}},"required":["name"]},"ChatPublicApiChatChannelsControllerCreateChatChannel200Response":{"description":"The existing Channel that is matching the creation request.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"ChatPublicApiChatChannelsControllerCreateChatChannel201Response":{"description":"The new Channel.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"ChatPublicApiChatChannelsControllerGetChatChannelWorkspaceIdPath":{"type":"integer"},"ChatPublicApiChatChannelsControllerGetChatChannel200Response":{"description":"The requested Channel.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"ChatPublicApiChatChannelsControllerUpdateChatChannelWorkspaceIdPath":{"type":"integer"},"ChatUpdateChatChannel":{"type":"object","properties":{"content_format":{"description":"The format of content field values (Default: text/md)","type":"string","default":"text/md","enum":["text/md","text/plain"]},"description":{"description":"The updated description of the Chat.","type":"string"},"location":{"description":"The updated location of the chat: space, folder, or list","allOf":[{"$ref":"#/components/schemas/ChatChannelLocation"}]},"name":{"description":"The updated name of the Chat.","type":"string"},"topic":{"description":"The updated topic of the Chat.","type":"string"},"visibility":{"description":"The updated visibility of the Chat.","type":"string","enum":["PUBLIC","PRIVATE"]}}},"ChatChannelLocation":{"type":"object","properties":{"id":{"description":"The ID of the hierarchy entity where the chat is to be located","type":"string"},"type":{"description":"The type of the location. Must be a space, folder, or list.","type":"string","enum":["folder","list","space"]}},"required":["id","type"]},"ChatPublicApiChatChannelsControllerUpdateChatChannel200Response":{"description":"The Channel was successfully updated.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"ChatPublicApiChatChannelsControllerDeleteChatChannelWorkspaceIdPath":{"type":"integer"},"ChatPublicApiChatChannelsControllerGetChatChannelFollowersWorkspaceIdPath":{"type":"integer"},"ChatPublicApiChatChannelsControllerGetChatChannelFollowersLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"ChatPublicApiChatChannelsControllerGetChatChannelFollowers200Response":{"allOf":[{"$ref":"#/components/schemas/ChatPaginatedResponse"},{"type":"object","description":"The list of Channel followers.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChatSimpleUser"}}}}]},"ChatSimpleUser":{"type":"object","properties":{"email":{"description":"Email of the user.","type":"string"},"id":{"description":"ID of the user.","type":"string"},"initials":{"description":"Initials of the user.","type":"string"},"name":{"description":"Name of the user.","type":"string"},"username":{"description":"Userame of the user.","type":"string"}},"required":["email","id"]},"ChatPublicApiChatChannelsControllerGetChatChannelMembersWorkspaceIdPath":{"type":"integer"},"ChatPublicApiChatChannelsControllerGetChatChannelMembersLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"ChatPublicApiChatChannelsControllerGetChatChannelMembers200Response":{"allOf":[{"$ref":"#/components/schemas/ChatPaginatedResponse"},{"type":"object","description":"The list of Channel members.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChatSimpleUser"}}}}]},"ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannelWorkspaceIdPath":{"type":"integer"},"ChatCreateDirectMessageChatChannel":{"type":"object","properties":{"user_ids":{"description":"The unique user IDs of participants in the direct message Chat, up to 15. A Self DM is created when no user IDs are provided","type":"array","items":{"type":"string"},"maxItems":15,"uniqueItems":true}}},"ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel200Response":{"description":"The existing Direct Message that is matching the creation request.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel201Response":{"description":"The new Direct Message.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"ChatPublicApiChatChannelsControllerCreateLocationChatChannelWorkspaceIdPath":{"type":"integer"},"ChatCreateLocationChatChannel":{"type":"object","properties":{"description":{"description":"The description for the Chat being created.","type":"string"},"topic":{"description":"The topic of the Chat being created.","type":"string"},"user_ids":{"description":"Optionally specify unique user IDs, up to 100.","type":"array","items":{"type":"string"},"maxItems":100,"uniqueItems":true},"visibility":{"description":"The visibility of the Chat being created. If not specified, the Chat is PUBLIC.","type":"string","enum":["PUBLIC","PRIVATE"]},"location":{"description":"The location of the chat: space, folder, or list","allOf":[{"$ref":"#/components/schemas/ChatChannelLocation"}]}},"required":["location"]},"ChatPublicApiChatChannelsControllerCreateLocationChatChannel200Response":{"description":"The existing Channel that is matching the creation request.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"ChatPublicApiChatChannelsControllerCreateLocationChatChannel201Response":{"description":"The new Channel.","type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatChannel"}},"required":["data"]},"CommentPublicApiChatMessagesControllerGetChatMessagesWorkspaceIdPath":{"type":"integer"},"CommentPublicApiChatMessagesControllerGetChatMessagesLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"CommentPublicApiChatMessagesControllerGetChatMessagesContentFormatQuery":{"type":"string","default":"text/md","enum":["text/md","text/plain"]},"CommentPublicApiChatMessagesControllerGetChatMessages200Response":{"allOf":[{"$ref":"#/components/schemas/CommentPaginatedResponse"},{"type":"object","description":"The list of top level messages in the Channel, most recent first.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessage"}}}}]},"CommentPaginatedResponse":{"type":"object","properties":{"next_cursor":{"description":"The next cursor to use for pagination.","type":"string"}},"required":["next_cursor"]},"ChatMessage":{"type":"object","properties":{"assignee":{"description":"The possible assignee of the message.","type":"string"},"assigned_by":{"description":"The user who assigned the message.","type":"string"},"content":{"description":"The full content of the message.","format":"RichText","type":"string"},"date":{"description":"The date & time the message was created (Unix epoch milliseconds timestamp).","type":"number"},"date_assigned":{"description":"The date & time the message was assigned (Unix epoch milliseconds timestamp).","type":"number"},"date_resolved":{"description":"The date & time the message was resolved (Unix epoch milliseconds timestamp).","type":"number"},"date_updated":{"description":"The date & time the message was updated (Unix epoch milliseconds timestamp).","type":"number"},"group_assignee":{"description":"The possible group assignee of the message.","type":"string"},"id":{"description":"The ID of the message.","type":"string"},"parent_channel":{"description":"The ID of the chat this message belongs to.","type":"string"},"parent_message":{"description":"The ID of the message this message is a reply to.","type":"string"},"post_data":{"description":"The data of the post message.","allOf":[{"$ref":"#/components/schemas/ChatPostData"}]},"resolved":{"description":"The resolved status of the message.","type":"boolean"},"resolved_by":{"description":"The user who resolved the message.","type":"string"},"triaged_action":{"description":"The triaged action applied to the message.","type":"number","enum":[1,2]},"triaged_object_id":{"description":"The message triaged action object id.","type":"string"},"triaged_object_type":{"description":"The message triaged action object type.","type":"number"},"type":{"description":"The type of message.","type":"string","enum":["message","post"]},"user_id":{"description":"The ID of the user who created the message.","type":"string"},"links":{"description":"The links to elements of the message.","allOf":[{"$ref":"#/components/schemas/CommentChatMessageLinks2"}]},"replies_count":{"description":"The number of replies to the message.","type":"number"}},"required":["content","date","id","parent_channel","resolved","type","user_id","links","replies_count"]},"ChatPostData":{"type":"object","properties":{"subtype":{"description":"The subtype of the chat post.","allOf":[{"$ref":"#/components/schemas/ChatPostSubtype"}]},"title":{"description":"The title of the chat post.","type":"string","maxLength":255}},"required":["subtype","title"]},"ChatPostSubtype":{"type":"object","properties":{"id":{"description":"The subtype ID of the chat post.","type":"string"},"name":{"description":"The subtype name of the chat post.","type":"string"}},"required":["id","name"]},"CommentChatMessageLinks2":{"type":"object","properties":{"reactions":{"description":"The link to the reactions of this message.","type":"string"},"replies":{"description":"The link to the replies of this message.","type":"string"},"tagged_users":{"description":"The link to the tagged users of this message.","type":"string"}},"required":["reactions","replies","tagged_users"]},"CommentPublicApiErrorResponse":{"type":"object","properties":{"status":{"description":"The HTTP Status code for the error","type":"integer"},"message":{"description":"The message describing the error","type":"string","example":"Generic error message"},"trace_id":{"description":"Unique trace ID for tracking the request. Used for troubleshooting errors","type":"integer","example":123456789,"nullable":true},"timestamp":{"description":"The time of the error (Unix epoch milliseconds timestamp).","type":"integer","example":1671534256138}},"required":["status","message","trace_id","timestamp"]},"CommentPublicApiChatMessagesControllerCreateChatMessageWorkspaceIdPath":{"type":"integer"},"CommentCreateChatMessage":{"type":"object","properties":{"assignee":{"description":"The possible assignee of the message.","type":"string"},"group_assignee":{"description":"The possible group assignee of the message.","type":"string"},"triaged_action":{"description":"The triaged action applied to the message.","type":"number","enum":[1,2]},"triaged_object_id":{"description":"The message triaged action object id.","type":"string"},"triaged_object_type":{"description":"The message triaged action object type.","type":"number"},"type":{"description":"The type of message.","type":"string","enum":["message","post"]},"content":{"description":"The full content of the message to be created. Note: Some code examples may display additional backslashes.","format":"RichText","maxLength":40000,"type":"string"},"reactions":{"description":"The reactions to the message that exist at creation time","type":"array","items":{"$ref":"#/components/schemas/ChatReaction"},"maxItems":10},"followers":{"description":"The ids of the followers of the message","type":"array","items":{"type":"string"},"maxItems":10},"content_format":{"description":"The format of the Chat Message content (Default: text/md)","type":"string","default":"text/md","enum":["text/md","text/plain"]},"post_data":{"description":"The data of the post message.","allOf":[{"$ref":"#/components/schemas/CommentChatPostDataCreate"}]}},"required":["type","content"]},"ChatReaction":{"type":"object","properties":{"date":{"description":"The date & time the reaction was created (Unix epoch milliseconds timestamp).","type":"number"},"reaction":{"description":"The reaction to the message.","type":"string"},"user_id":{"description":"The ID of the user who created the reaction.","type":"string"}},"required":["date","reaction","user_id"]},"CommentChatPostDataCreate":{"type":"object","properties":{"title":{"description":"The title of the chat post.","type":"string","maxLength":255},"subtype":{"description":"The subtype of the chat post.","allOf":[{"$ref":"#/components/schemas/CommentChatPostSubtypeCreate"}]}},"required":["title","subtype"]},"CommentChatPostSubtypeCreate":{"type":"object","properties":{"id":{"description":"The subtype ID of the chat post. You can retrieve the available subtypes for your Workspace using the [Get Post Subtype IDs](https://developer.clickup.com/reference/getsubtypes) endpoint.","type":"string"}},"required":["id"]},"CommentCreateChatMessageResponse":{"type":"object","properties":{"post_data":{"description":"The data of the post message.","allOf":[{"$ref":"#/components/schemas/CommentChatPostDataCreate"}]},"assignee":{"description":"The possible assignee of the message.","type":"string"},"assigned_by":{"description":"The user who assigned the message.","type":"string"},"content":{"description":"The full content of the message.","format":"RichText","type":"string"},"date":{"description":"The date & time the message was created (Unix epoch milliseconds timestamp).","type":"number"},"date_assigned":{"description":"The date & time the message was assigned (Unix epoch milliseconds timestamp).","type":"number"},"date_resolved":{"description":"The date & time the message was resolved (Unix epoch milliseconds timestamp).","type":"number"},"date_updated":{"description":"The date & time the message was updated (Unix epoch milliseconds timestamp).","type":"number"},"group_assignee":{"description":"The possible group assignee of the message.","type":"string"},"id":{"description":"The ID of the message.","type":"string"},"parent_channel":{"description":"The ID of the chat this message belongs to.","type":"string"},"parent_message":{"description":"The ID of the message this message is a reply to.","type":"string"},"resolved":{"description":"The resolved status of the message.","type":"boolean"},"resolved_by":{"description":"The user who resolved the message.","type":"string"},"triaged_action":{"description":"The triaged action applied to the message.","type":"number","enum":[1,2]},"triaged_object_id":{"description":"The message triaged action object id.","type":"string"},"triaged_object_type":{"description":"The message triaged action object type.","type":"number"},"type":{"description":"The type of message.","type":"string","enum":["message","post"]},"user_id":{"description":"The ID of the user who created the message.","type":"string"},"links":{"description":"The links to elements of the message.","allOf":[{"$ref":"#/components/schemas/CommentChatMessageLinks2"}]},"replies_count":{"description":"The number of replies to the message.","type":"number"}},"required":["content","date","id","parent_channel","resolved","type","user_id","links","replies_count"]},"CommentPublicApiChatMessagesControllerPatchChatMessageWorkspaceIdPath":{"type":"integer"},"CommentPatchChatMessage":{"type":"object","properties":{"assignee":{"description":"The possible assignee of the message.","type":"string"},"group_assignee":{"description":"The possible group assignee of the message.","type":"string"},"content":{"description":"The full content of the message to be created","format":"RichText","maxLength":40000,"type":"string"},"content_format":{"description":"The format of the Chat Message content (Default: text/md)","type":"string","default":"text/md","enum":["text/md","text/plain"]},"post_data":{"description":"The data of the post message.","allOf":[{"$ref":"#/components/schemas/CommentChatPostDataPatch"}]},"resolved":{"description":"The resolved status of the message.","type":"boolean"}}},"CommentChatPostDataPatch":{"type":"object","properties":{"subtype":{"description":"The subtype of the chat post.","allOf":[{"$ref":"#/components/schemas/CommentChatPostSubtypePatch"}]},"title":{"description":"The title of the chat post.","type":"string","maxLength":255}}},"CommentChatPostSubtypePatch":{"type":"object","properties":{"id":{"description":"The subtype ID of the chat post.","type":"string"}},"required":["id"]},"CommentPatchChatMessageResponse":{"type":"object","properties":{"post_data":{"description":"The data of the post message.","allOf":[{"$ref":"#/components/schemas/CommentChatPostDataCreate"}]},"assignee":{"description":"The possible assignee of the message.","type":"string"},"assigned_by":{"description":"The user who assigned the message.","type":"string"},"content":{"description":"The full content of the message.","format":"RichText","type":"string"},"date":{"description":"The date & time the message was created (Unix epoch milliseconds timestamp).","type":"number"},"date_assigned":{"description":"The date & time the message was assigned (Unix epoch milliseconds timestamp).","type":"number"},"date_resolved":{"description":"The date & time the message was resolved (Unix epoch milliseconds timestamp).","type":"number"},"date_updated":{"description":"The date & time the message was updated (Unix epoch milliseconds timestamp).","type":"number"},"group_assignee":{"description":"The possible group assignee of the message.","type":"string"},"id":{"description":"The ID of the message.","type":"string"},"parent_channel":{"description":"The ID of the chat this message belongs to.","type":"string"},"parent_message":{"description":"The ID of the message this message is a reply to.","type":"string"},"resolved":{"description":"The resolved status of the message.","type":"boolean"},"resolved_by":{"description":"The user who resolved the message.","type":"string"},"triaged_action":{"description":"The triaged action applied to the message.","type":"number","enum":[1,2]},"triaged_object_id":{"description":"The message triaged action object id.","type":"string"},"triaged_object_type":{"description":"The message triaged action object type.","type":"number"},"type":{"description":"The type of message.","type":"string","enum":["message","post"]},"user_id":{"description":"The ID of the user who created the message.","type":"string"},"replies_count":{"description":"The number of replies to the message.","type":"number"},"links":{"description":"The links to elements of the message.","oneOf":[{"type":"object","required":["replies","tagged_users","reactions"],"properties":{"reactions":{"description":"The link to the reactions of this message.","type":"string"},"replies":{"description":"The link to the replies of this message.","type":"string"},"tagged_users":{"description":"The link to the tagged users of this message.","type":"string"}}},{"type":"object","required":["tagged_users","reactions"],"properties":{"reactions":{"description":"The link to the reactions of this message.","type":"string"},"tagged_users":{"description":"The link to the tagged users of this message.","type":"string"}}}]}},"required":["content","date","id","parent_channel","resolved","type","user_id","replies_count","links"]},"CommentPublicApiChatMessagesControllerDeleteChatMessageWorkspaceIdPath":{"type":"integer"},"CommentPublicApiChatMessagesControllerGetChatMessageReactionsWorkspaceIdPath":{"type":"integer"},"CommentPublicApiChatMessagesControllerGetChatMessageReactionsLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"CommentPublicApiChatMessagesControllerGetChatMessageReactions200Response":{"allOf":[{"$ref":"#/components/schemas/CommentPaginatedResponse"},{"type":"object","description":"The list of message reactions.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChatReaction"}}}}]},"CommentPublicApiChatMessagesControllerCreateChatReactionWorkspaceIdPath":{"type":"integer"},"CommentCreateChatReaction":{"type":"object","properties":{"reaction":{"description":"The name of the emoji to use for the reaction.","type":"string"}},"required":["reaction"]},"CommentPublicApiChatMessagesControllerDeleteChatReactionWorkspaceIdPath":{"type":"integer"},"CommentPublicApiChatMessagesControllerGetChatMessageRepliesWorkspaceIdPath":{"type":"integer"},"CommentPublicApiChatMessagesControllerGetChatMessageRepliesLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"CommentPublicApiChatMessagesControllerGetChatMessageRepliesContentFormatQuery":{"type":"string","default":"text/md","enum":["text/md","text/plain"]},"CommentPublicApiChatMessagesControllerGetChatMessageReplies200Response":{"allOf":[{"$ref":"#/components/schemas/CommentPaginatedResponse"},{"type":"object","description":"The list of replies to a message, most recent first.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ReplyMessage"}}}}]},"ReplyMessage":{"type":"object","properties":{"assignee":{"description":"The possible assignee of the message.","type":"string"},"assigned_by":{"description":"The user who assigned the message.","type":"string"},"content":{"description":"The full content of the message.","format":"RichText","type":"string"},"date":{"description":"The date & time the message was created (Unix epoch milliseconds timestamp).","type":"number"},"date_assigned":{"description":"The date & time the message was assigned (Unix epoch milliseconds timestamp).","type":"number"},"date_resolved":{"description":"The date & time the message was resolved (Unix epoch milliseconds timestamp).","type":"number"},"date_updated":{"description":"The date & time the message was updated (Unix epoch milliseconds timestamp).","type":"number"},"group_assignee":{"description":"The possible group assignee of the message.","type":"string"},"id":{"description":"The ID of the message.","type":"string"},"parent_channel":{"description":"The ID of the chat this message belongs to.","type":"string"},"parent_message":{"description":"The ID of the message this message is a reply to.","type":"string"},"post_data":{"description":"The data of the post message.","allOf":[{"$ref":"#/components/schemas/ChatPostData"}]},"resolved":{"description":"The resolved status of the message.","type":"boolean"},"resolved_by":{"description":"The user who resolved the message.","type":"string"},"triaged_action":{"description":"The triaged action applied to the message.","type":"number","enum":[1,2]},"triaged_object_id":{"description":"The message triaged action object id.","type":"string"},"triaged_object_type":{"description":"The message triaged action object type.","type":"number"},"type":{"description":"The type of message.","type":"string","enum":["message","post"]},"user_id":{"description":"The ID of the user who created the message.","type":"string"},"links":{"description":"The links to elements of the message.","allOf":[{"$ref":"#/components/schemas/CommentReplyMessageLinks2"}]}},"required":["content","date","id","parent_channel","parent_message","resolved","type","user_id","links"]},"CommentReplyMessageLinks2":{"type":"object","properties":{"reactions":{"description":"The link to the reactions of this message.","type":"string"},"tagged_users":{"description":"The link to the tagged users of this message.","type":"string"}},"required":["reactions","tagged_users"]},"CommentPublicApiChatMessagesControllerCreateReplyMessageWorkspaceIdPath":{"type":"integer"},"CommentCreateReplyMessageResponse":{"type":"object","properties":{"post_data":{"description":"The data of the post message.","allOf":[{"$ref":"#/components/schemas/CommentChatPostDataCreate"}]},"assignee":{"description":"The possible assignee of the message.","type":"string"},"assigned_by":{"description":"The user who assigned the message.","type":"string"},"content":{"description":"The full content of the message.","format":"RichText","type":"string"},"date":{"description":"The date & time the message was created (Unix epoch milliseconds timestamp).","type":"number"},"date_assigned":{"description":"The date & time the message was assigned (Unix epoch milliseconds timestamp).","type":"number"},"date_resolved":{"description":"The date & time the message was resolved (Unix epoch milliseconds timestamp).","type":"number"},"date_updated":{"description":"The date & time the message was updated (Unix epoch milliseconds timestamp).","type":"number"},"group_assignee":{"description":"The possible group assignee of the message.","type":"string"},"id":{"description":"The ID of the message.","type":"string"},"parent_channel":{"description":"The ID of the chat this message belongs to.","type":"string"},"parent_message":{"description":"The ID of the message this message is a reply to.","type":"string"},"resolved":{"description":"The resolved status of the message.","type":"boolean"},"resolved_by":{"description":"The user who resolved the message.","type":"string"},"triaged_action":{"description":"The triaged action applied to the message.","type":"number","enum":[1,2]},"triaged_object_id":{"description":"The message triaged action object id.","type":"string"},"triaged_object_type":{"description":"The message triaged action object type.","type":"number"},"type":{"description":"The type of message.","type":"string","enum":["message","post"]},"user_id":{"description":"The ID of the user who created the message.","type":"string"},"links":{"description":"The links to elements of the message.","allOf":[{"$ref":"#/components/schemas/CommentReplyMessageLinks2"}]}},"required":["content","date","id","parent_channel","parent_message","resolved","type","user_id","links"]},"CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersWorkspaceIdPath":{"type":"integer"},"CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersLimitQuery":{"type":"integer","default":50,"maximum":100,"minimum":1},"CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsers200Response":{"allOf":[{"$ref":"#/components/schemas/CommentPaginatedResponse"},{"type":"object","description":"The list of message tagged users.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CommentSimpleUser"}}}}]},"CommentSimpleUser":{"type":"object","properties":{"email":{"description":"Email of the user.","type":"string"},"id":{"description":"ID of the user.","type":"string"},"initials":{"description":"Initials of the user.","type":"string"},"name":{"description":"Name of the user.","type":"string"},"username":{"description":"Userame of the user.","type":"string"}},"required":["email","id"]},"CommentPublicApiCommentsControllerGetSubtypesWorkspaceIdPath":{"type":"integer"},"CommentPublicApiCommentsControllerGetSubtypesCommentTypePath":{"type":"string","enum":["post","ai","syncup","ai_via_brain"]},"FieldPublicApiFieldControllerCreateFieldWorkspaceIdPath":{"type":"integer"},"FieldCreateFieldRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["url","drop_down","email","phone","date","text","checkbox","number","currency","tasks","users","emoji","labels","automatic_progress","manual_progress","short_text","attachment","formula","list_relationship","location","votes","signature","app_object","app_object_property","button","multi_key"]},"type_config":{"type":"object"},"default_value":{"type":"object"},"pinned":{"type":"boolean"},"hide_from_guests":{"type":"boolean"},"required":{"type":"boolean"},"required_on_subtasks":{"type":"boolean"},"private":{"type":"boolean"},"permission_level":{"type":"string","nullable":true},"members":{"type":"array","items":{"type":"string"}},"groups":{"type":"array","items":{"type":"string"}},"subcategory_id":{"type":"string"},"category_id":{"type":"string"},"ignore_duplicates":{"type":"boolean"}},"required":["name","description","type","type_config","default_value","pinned","hide_from_guests","required","required_on_subtasks","private","permission_level","members","groups"]},"FieldPublicApiFieldControllerCreateField200Response":{"description":"Successfully created a custom field.","type":"object","properties":{"data":{"$ref":"#/components/schemas/Field"}},"required":["data"]},"Field":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["url","drop_down","email","phone","date","text","checkbox","number","currency","tasks","users","emoji","labels","automatic_progress","manual_progress","short_text","attachment","formula","list_relationship","location","votes","signature","app_object","app_object_property","button","multi_key"]},"type_config":{"type":"object"},"default_value":{"type":"object"},"pinned":{"type":"boolean"},"hide_from_guests":{"type":"boolean"},"required":{"type":"boolean"},"required_on_subtasks":{"type":"boolean"},"private":{"type":"boolean"},"id":{"type":"string"},"user_id":{"type":"string"},"date_created":{"type":"string"},"linked_subcategory":{"type":"string"},"team_id":{"type":"string"},"deleted":{"type":"boolean"},"deleted_by":{"type":"string"}},"required":["name","description","type","type_config","default_value","pinned","hide_from_guests","required","required_on_subtasks","private","id","user_id","date_created","linked_subcategory","team_id","deleted","deleted_by"]},"FieldUpdateFieldRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["url","drop_down","email","phone","date","text","checkbox","number","currency","tasks","users","emoji","labels","automatic_progress","manual_progress","short_text","attachment","formula","list_relationship","location","votes","signature","app_object","app_object_property","button","multi_key"]},"type_config":{"type":"object"},"default_value":{"type":"object"},"pinned":{"type":"boolean"},"hide_from_guests":{"type":"boolean"},"required":{"type":"boolean"},"required_on_subtasks":{"type":"boolean"},"private":{"type":"boolean"},"permission_level":{"type":"string","nullable":true}},"required":["name","description","type","type_config","default_value","pinned","hide_from_guests","required","required_on_subtasks","private","permission_level"]},"FieldPublicApiFieldControllerUpdateField200Response":{"description":"Successfully updated a custom field.","type":"object","properties":{"data":{"$ref":"#/components/schemas/Field"}},"required":["data"]},"PublicDocsSearchDocsPublicWorkspaceIdPath":{"type":"number"},"PublicDocsSearchDocsPublicCreatorQuery":{"type":"number"},"PublicDocsSearchDocsPublicDeletedQuery":{"type":"boolean","default":false},"PublicDocsSearchDocsPublicArchivedQuery":{"type":"boolean","default":false},"PublicDocsSearchDocsPublicParentTypeQuery":{"type":"string","enum":["4","5","6","7","12","SPACE","FOLDER","LIST","EVERYTHING","WORKSPACE"]},"PublicDocsSearchDocsPublicLimitQuery":{"type":"number","default":50,"maximum":100,"minimum":10},"PublicDocsDocsSearchResultDto":{"type":"object","properties":{"docs":{"type":"array","items":{"$ref":"#/components/schemas/PublicDocsDocCoreDto"}},"next_cursor":{"type":"string"}},"required":["docs"]},"PublicDocsDocCoreDto":{"type":"object","properties":{"id":{"type":"string"},"date_created":{"type":"number"},"date_updated":{"type":"number"},"name":{"type":"string"},"type":{"type":"number","enum":[1,2]},"parent":{"$ref":"#/components/schemas/PublicDocsParentDto"},"public":{"type":"boolean"},"workspace_id":{"type":"number"},"creator":{"type":"number"},"deleted":{"type":"boolean"},"date_deleted":{"type":"number"},"deleted_by":{"type":"number"},"archived":{"type":"boolean"},"archived_by":{"type":"number"},"date_archived":{"type":"number"}},"required":["id","date_created","name","type","parent","public","workspace_id","creator","deleted","archived"]},"PublicDocsParentDto":{"type":"object","properties":{"id":{"type":"string"},"type":{"description":"The parent Doc type. Use `4` for Space, `5` for Folder, `6` for List, `7` for Everything, and `12` for Workspace.","type":"number"}},"required":["id","type"]},"PublicDocsCreateDocPublicWorkspaceIdPath":{"type":"number"},"PublicDocsCreateDocOptionsDto":{"type":"object","properties":{"name":{"description":"The name of the new Doc.","type":"string","default":""},"parent":{"description":"The parent of the new Doc.","default":null,"allOf":[{"$ref":"#/components/schemas/PublicDocsParentDto"}]},"visibility":{"description":"The visibility of the new Doc. For example, `PUBLIC` or `PRIVATE`.","oneOf":[{"description":"The visibility of the new Doc","enum":["PUBLIC","PRIVATE","PERSONAL","HIDDEN"],"type":"string"},{"description":"The visibility of the new Doc","enum":[1,2,3,4],"type":"number"}]},"create_page":{"description":"Create a new page when creating the Doc.","type":"boolean","default":true}}},"PublicDocsDocDto":{"type":"object","properties":{"id":{"type":"string"},"date_created":{"type":"number"},"date_updated":{"type":"number"},"name":{"type":"string"},"type":{"type":"number","enum":[1,2]},"parent":{"$ref":"#/components/schemas/PublicDocsParentDto"},"public":{"type":"boolean"},"workspace_id":{"type":"number"},"archived":{"type":"boolean"},"archived_by":{"type":"number"},"creator":{"type":"number"},"date_archived":{"type":"number"},"date_deleted":{"type":"number"},"deleted":{"type":"boolean"},"deleted_by":{"type":"number"},"page_defaults":{"$ref":"#/components/schemas/PublicDocsPresentationDetailsDto"}},"required":["id","date_created","name","type","parent","public","workspace_id","creator"]},"PublicDocsPresentationDetailsDto":{"type":"object","properties":{"font":{"type":"string"},"font_size":{"type":"number"},"line_height":{"type":"number"},"page_width":{"type":"number"},"paragraph_spacing":{"type":"number"},"show_author_header":{"type":"boolean"},"show_contributor_header":{"type":"boolean"},"show_cover_header":{"type":"boolean"},"show_date_header":{"type":"boolean"},"show_page_outline":{"type":"boolean"},"show_sub_pages":{"type":"boolean"},"sub_page_size":{"type":"string"},"show_sub_title_header":{"type":"boolean"},"show_title_icon_header":{"type":"boolean"},"show_relationships":{"type":"boolean"},"show_relationships_compact":{"type":"boolean"},"show_sub_pages_author":{"type":"boolean"},"show_sub_pages_thumbnail":{"type":"boolean"},"show_sub_pages_compact":{"type":"boolean"},"sub_pages_style":{"type":"string"}}},"PublicDocsGetDocPublicWorkspaceIdPath":{"type":"number"},"PublicDocsGetDocPageListingPublicWorkspaceIdPath":{"type":"number"},"PublicDocsGetDocPageListingPublicMaxPageDepthQuery":{"type":"number","default":-1},"PublicDocsGetDocPageListingPublic200Response":{"type":"array","items":{"$ref":"#/components/schemas/PublicDocsPageV3ReferenceDto"}},"PublicDocsPageV3ReferenceDto":{"type":"object","properties":{"id":{"type":"string"},"doc_id":{"type":"string"},"parent_page_id":{"type":"string"},"workspace_id":{"type":"number"},"name":{"type":"string"},"pages":{"type":"array","items":{"$ref":"#/components/schemas/PublicDocsPageV3ReferenceDto"}}},"example":[{"id":"8cht190-271","doc_id":"8cht190-831","workspace_id":9011234080,"name":"Fantastic Marketing doc"},{"id":"8cht190-311","doc_id":"8cht190-831","workspace_id":9011234080,"name":"Another doc","pages":[{"id":"8cht190-331","doc_id":"8cht190-831","parent_page_id":"8cht190-311","workspace_id":9011234080,"name":"sub page","pages":[{"id":"8cht190-351","doc_id":"8cht190-831","parent_page_id":"8cht190-33
[...]
